body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  /* background: rgb(235, 186, 186); */
  position:relative;
  z-index:1;
  width:100%;
  height:100vh;
  margin-left: auto;
  margin-right:auto;
  overflow:hidden;
}

.header,
.footer {
  position:absolute;
  left:0;
  z-index:2;
  width:100%;
  overflow:hidden;
}

.header {
  top:0;
  height:100px;
  background: rgb(114, 110, 111);
  border-bottom: '1px solid gray'
}

.footer {
  bottom:0;
  height:1.6em;
  background: rgb(114, 110, 111);
}

.content {
  position:absolute;
  bottom:0;
  top:0;
  right:0;
  left:0;
  z-index:10;
  width: 100%;
  height:calc(100vh - 100px); /* -1.6rem */
  margin-top:100px;
  margin-bottom:1.6em;
  overflow:hidden;
  /* background: rgb(229, 233, 176); */
  /* overflow:auto; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
